@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

html{
  height: 100vh;
  --primary-background: #8badb8;
  --primary-surface: rgb(255, 255, 255);
  --primary-font-color: #000;
  --primary-surface-selected: rgb(68, 171, 231) ;
  --secondary-surface: rgb(202, 202, 202);
}

html[data-theme="dark"]{
  --primary-background: rgb(54, 53, 53);
  --primary-surface: rgb(69, 71, 71);
  --primary-font-color: #fff;
  --secondary-surface: rgb(114, 114, 114);
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.wrapper {
  max-height: 100vh;
  display: grid;
  grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  grid-area: main;
  padding: 2em 0;
}